
<!DOCTYPE html>
</html>

<body>
<style>
  .columns {
    display: flex;
  }

</style>

<div class = "columns">
<form action ="/payment/results">
    <div> <label for ="user_apr"> APR </label> 
    <input id ="user_apr" name="apr" placeholder= "E.g. 5.42">  </div>
    
    <div> <label for ="user_years"> Number of years </label>
    <input id ="user_years" name="year" placeholder ="How many years to repay?"> </div>
    
    <div> <label for ="user_pv"> Principal </label>
    <input id ="user_pv" name ="principal" placeholder ="How much principal?"> </div>
    <button>Calculate monthly payment</button>

 
  </form>
   </div>

</body>

</html>
