<!DOCTYPE html>

<html>

<body>
<h1> Payment results </h1>

<p> APR <br> <%=@apr_p%> </p>
<p> Number of years <br> <%=@year%> </p>
<p> Principal <br> <%=@principal%> </p>
<p> Payment <br> <%=@payment%> </p>

<p> <a href = "/payment/new"> Calculate another payment </a>
</body>



</html>
