<!DOCTYPE html>

<html>

<body>
<h1> Random results </h1>

<p> Minimum <br> <%=@min%> </p>
<p> Maximum <br> <%=@max%> </p>
<p> Random number <br> <%=@random%> </p>

<p> <a href = "/random/new"> Calculate another random number </a>
</body>



</html>
