<!DOCTYPE html>

<html>

<body>
<h1> Square results </h1>

<p> Number <br> <%=@square%> </p>
<p> Square <br> <%=@results%> </p>

<p> <a href = "/payment/new"> Calculate another square </a>
</body>



</html>
