
<!DOCTYPE html>
</html>

<body>
<style>
  .columns {
    display: flex;
  }

</style>

<div class = "columns">
<form action ="/square_root/results">
    <div> <label for ="number"> Enter a number </label> </div>
    <div><input id ="number" name="number" placeholder= "What number do you want to enter?">  </div>
    <button>Calculate square root</button>
  </form>
  </div>

</body>

</html>
